Simulations and code/cycle_production_data.csv
Simulations and code/PyPackageJonas/__pycache__
# Dont sync auxilary files from latex
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.synctex.gz
**/*.toc
**/*.bbl
**/*.blg